doctype html
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="Content-Security-Policy" content="default-src 'self';connect-src 'self' ws://127.0.0.1:40435 ws://127.0.0.1:37315 ws://127.0.0.1:45617 ws://127.0.0.1:45617;font-src 'self' https://fonts.gstatic.com;style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;script-src 'self'")
            title Natours | #{title}
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
    body
        // HEADER
        //- . is class name
        include _header
        // CONTENT
        block content 
            h1 This is a placeholder heading.        
        // FOOTER
        include _footer
        script(src='/js/bundle.js')
        //- script(type="module" src="/js/index.js")
